@use 'base/variables' as var;

.text-center {
    text-align: center;
}

.bg-primario {
    background-color: var.$primario;
}

.margin-negativo-10 {
    margin-top: -10rem;
}
.bg-white {
    background-color: var.$blanco;
}

.padding-bottom-0 {
    padding-bottom: 0;
}