@use 'base/variables' as var;
@use 'base/mixins' as mix;


.nav-principal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    @include mix.tablet { 
        flex-direction: row;
        margin-top: 0;
     }
}

a {
    text-align: center;
    color: var.$blanco;  
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
    @include mix.tablet {
        margin-bottom: 0;
    }

    &:hover {
        color: var.$secundario;
    }

    &.activo {
        color: var.$secundario;
    }
}